.form {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #f58e6e;
  border: 1px solid #f58e6e;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #e67958;
  border-color: #e67958;
}
